.cartIconContainer {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
    }
}

.itemCount {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 0px;
    color: white;
    background-color: red;
    width: 15px;
    height: 15px;
    right: 0px;
    border-radius: 15px;
}